.author-hero {
    height: 60vh;
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.5)), url('../images/Cover-Author.png');
    background-size: cover;
    background-position: center;
    color: #114b3a;
    text-align: center;
}
.author-hero h1 {
    color: #114b3a;
}

.author-profile {
    margin-top: -100px;
    position: relative;
    z-index: 2;
}

.author-content {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.author-image {
    flex: 0 0 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.author-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.author-info {
    flex: 1;
    min-width: 300px;
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.author-details {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.detail-item {
    flex: 1;
}

.detail-item h4 {
    color: #1a936f;
    margin-bottom: 5px;
    font-size: 1.1rem;
}

.detail-item p {
    font-size: 1.2rem;
    font-weight: 600;
    color: #212529;
}

.tagline {
    font-size: 1.3rem;
    color: #1a936f;
    font-weight: 500;
    margin-bottom: 20px;
    font-style: italic;
}